QTableView {
    background-color: #ffffff;
    selection-background-color: #7995b0;
}

QPushButton {
    border-radius: 2px;
    background-color: #dae2f0;
}

QHeaderView::section {
    background-color: #f5f5f5;
}

QFrame[changed=true] {
    color: #ff0000;
    margin: 1px;
}

QFrame[changed=false] {
    color: #000000;
    margin: 1px;
}